header{
    text-align: center;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__title--de{
    font-size: 50px;
    color: black;
}

.header__title--cine{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: black;
}

.header__nav{
    margin: 20px;
    display: flex;
    align-items: center ;
}

/* .header__search{
    margin: 0 10px 0 25px;
    border-radius: 20px;
    background-color: lightgray;
    padding: 10px 20px;
    width: 300px;
    box-shadow: 0px 10px 14px -7px #000000;
}    */

.search__wrap{
    width: 300px;
    margin-left: 40px;
    
}

.search {
    width: 100%;
    display: flex;
}

.search__bar {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
    font-size: 20px;
    box-shadow:0px 10px 14px -7px #000000;
}

.search__button {
    display: flex;
    align-items: center;
    width: 60px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-shadow: 0px 10px 10px -7px #000000;
}

.btn__login {
	box-shadow: 0px 10px 14px -7px #276873;
	background:#00B4CC;
	background-color:#00B4CC;
	border-radius:8px ;
    border-color: #00B4CC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
}

.btn__a{
    color: aliceblue;
}

.btn__login:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99; 
}

.btn__login:active {
	position:relative;
	top:1px;
}
       