.bluRay{
    margin-top: 30px;
    background-color: black;
    border-radius: 10px;
}

.bluRay__title{
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
    color: antiquewhite;
}

.ver_todo{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    color: #00B4CC;
    width: 150px;
}

.bluRay__container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.bluRay__box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 235px;
    margin: 0 2rem 0 2rem;
}

.bluRay__img{
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bluRay__names{
    font-size: 30px;
    color: antiquewhite;
    margin-bottom: 10px;
}

.bluRay__price{
    font-size: 20px;
    color: antiquewhite;
    margin-bottom: 10px;
}

.bluRay__box a{
    font-size: 20px;
    color: #00B4CC;
    margin-bottom: 10px;
}