footer{
    margin-top: 80px;
    padding: 30px 0 30px 0;
    background-color: #00B4CC
}

.contact{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__title--de{
    font-size: 50px;
    color: black;
}

.footer__title--cine{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: black;
}

.contact__links{

}

.contact__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    font-size: 25px;
}

.contact__list--link{

}

.contact__form{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

.form__btn{
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#ffffff;
	border-radius:8px ;
    border-color: #00B4CC;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
}

.form__title{
    font-size: 30px;    
}

.footer__name{
    padding: 20px;
}

.form__textarea{
    border: none;
    width: 300px;
    height: 100px;
}

.footer__bar{
    background-color: #000000;
    width: 90%;
    height: 2px;
    border-width:0;
    margin-top: 50px;
}

.bottom{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom img{
    transition: .2s;
}

.bottom img:hover{
    transform: scale(1.2);
}

.bottom a{
    margin-left: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}